body{
background-image:url(haikei.jpg);
}

.nav{
float:left;
}

.nav{
display:inline-block;
}

.p{
background-color:#ff0000;
}

.k{
background-color:#26ff00;
}

.l{
background-color:#fbff00;
}

.m{
background-color:#003cff;
}

h1{

}

.kaijyo{
clear:both;
}

th{

}

.modoru{
float:right;
}

